@{
    ViewData["Title"] = "Acasa";
}
<style>
    body {background-color: lightskyblue;}
    h1 {color: red;}
    p { color: red;}
</style>
<div class="text-center">
    <h1 class="display-4">Camere de inchiriat</h1>
    <p1>Proiect Medii de programare avansate</p1>
</div>
