@{
    ViewData["Title"] = "Politica de Confidențialitate";
}

<style>
    body {
        background-color: lightskyblue;}
    h1 {color: red;}
    p {color: red;}
</style>
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
